
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Medium.ttf');
  font-weight: medium;
}


.App {
  /* height: 600px; */
  width: 940px;
  background-color: #f0f0f3;
  padding: 16px;
  font-family: Ubuntu;
  display: flex;
}

nav{
  height: 568px;
  width: 274px;
  background-image: url(assets/images/bg-sidebar-desktop.svg);
}

.step-list{
  display: flex;
  flex-direction: column;
}

.nav-step{
  display: flex;
  margin-left: 32px;
  margin-top: 40px;
}

.nav-step span{
  color: lightblue;
  font-size: 11px;
  font-weight: medium;
}

.nav-step p{
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.nav-step button{
  height: 33px;
  width: 33px;
  border-radius: 50%;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  margin-right: 16px;
  font-weight: bold;
}
.nav-step:hover{
  cursor: pointer;
}
.nav-step:hover button{
  background-color: skyblue;
  border: 1px solid skyblue;
  color: black;
  cursor: pointer;
}

.nav-step-active button{
  background-color: skyblue;
  border: 1px solid skyblue;
  color: black;
}

.nav-step div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.step-component{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 0px 0px 100px;
  height: 32rem;
  width: 30rem;
  /* background-color: rebeccapurple; */
}

.step-component p{
  color: #022959;
}

.step-component span{
  color: grey;
}

.step-component .form{
  display: flex;
  flex-direction: column;
}

.form p{
  font-weight: normal;
  font-size: 0.9rem;
  margin: 1.6rem 0 0.6rem 0;
}

.form input{
  height: 48px;
  width: calc(100%-16px);
  border-radius: 8px;
  border: 1px solid #D6D9E6;
  padding-left: 16px;
}

.form input::placeholder{
  font-family: Ubuntu;
  font-weight: medium;
  color: grey;
}

.form input:focus{
  outline: none;
  border:  1px solid #483EFF;
}

.input-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
}

.input-title p:last-child{
  color: #EE374A;
  font-weight: bold;
}

.hidden{
  display: none;
}

.step-component-footer{
  display: flex;
  justify-content: space-between;
}

.step-component-footer button{
  background-color: transparent;
  color: #164A8A;
  font-weight: bold;
  height: 3rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.step-component-footer button:last-child{
  background-color: #164A8A;
  color: white;
  font-weight: bold;
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.plans{
  margin-top: 2rem;
  display: flex;
  /* flex-direction: column; */
  gap: 1rem;
}


.plan-card{
  width: 6.7rem;
  height: 7.7rem;
  border-radius: 8px;
  border: 1px solid #D6D9E6;
  display: flex;
  flex-direction: column;
  padding: 16px;
  flex-grow: 1;
}

.plan-card img{
  flex-grow: 1;
}

.plan-card p{
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.plan-change{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  background-color: #D6D9E6;
  border-radius: 8px;
}

.active{
  background-color: #483EFF;
}

.myToggle{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.myToggle p{
  margin: 0;
  color: gray;
}

.myToggle1{
  position: relative;
  display: flex;
  height: 1.5rem;
  width: 2.75rem;
  justify-items: flex-end;
  border-radius: 25px;
  background-color: #022959;
  border: none;
  display: flex;
  align-items: center;
  padding: auto;

}

.myToggle2{
  display: inline-block;
  z-index: 2;
  height: 1.1rem;
  width: 1.1rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 50%;
  background-color: white;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 150ms;
}



.bg-gray-200{
  background-color: gray;
}

.translate-x-1{
  transform: translateX(-0.25rem);
}

.translate-x-6{
	transform: translateX(1.15rem);
}

.myToggle .plan-active{
  color: #022959;
}

.addons{
  margin-top: 2rem;
}

.checkbox{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100%-4rem);
  height: 4.8rem;
  padding: 0 2rem 0 2rem;
  border: 1.5px solid #D6D9E6;
  border-radius: 8px;
}

.checkbox-checked{
  border: 1.5px solid #483EFF;
  background-color: #F8F9FF;
}





.checkbox p{
  color: #483EFF;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #483EFF;
  width: 1rem;
  height: 1rem;
  border: 1.5px solid #483EFF;
  border-radius: 4px;
}

.box-unchecked{
  background-color: transparent;
  border: 1.5px solid #D6D9E6;
}

.checkbox-desc { 
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.checkbox-desc span{

  color: #022959;
  font-weight: normal;
}

.checkbox-desc span:last-child{
  color: #9699AA;
  font-weight: medium;
  font-size: 10px;
}


.summary{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.sum{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #D6D9E6;
  padding: 0.1rem 16px 1.5rem 16px;
  border-radius: 8px;
}


.choosed-plan{
  width: 100%;
  border-radius: 8px;
  display: flex;
  margin-bottom: 1rem;
}

.choosed-plan p{
  margin: 1rem 0 0.5rem 0;
}

.choosed-plan span{
  text-decoration: underline;
}

.choosed-plan div:first-child{
  flex-grow: 1;
}

.break-line{
  height: 1px;
  width: 100%;
  background-color: #9699AA;
}

.choosed-addons{
  margin-top: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.choosed-addons p{
  color: gray;
  margin: 0;
}

.choosed-addons span{
  font-weight: normal;
  color: #022959;
}

.total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 16px;
}